body {
	background-color: white;
	margin: 0;
}
header {
	background-color: rgb(0, 0, 0, 0.7);
	color: white;
	text-align: center;
	padding: 5px;
	font-size: x-large;
}

footer {
	text-align: center;
	color: white;
	background-color: black;
	padding: 5px;
}

#navigate {
	position: sticky;
	z-index: 1;
	top: 0;
}
.menu {
	margin: 0;
	background-color: rgb(0, 0, 0, 0.5);
}
.menu li {
	display: inline-block;
	padding: 10px;
}

.menu li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.menu li:hover {
	background-color: rgb(0, 0, 0, 0.7);
}

.menu li:nth-child(2):hover .dropdown,
.menu li:nth-child(3):hover .dropdown {
	display: block;
}

.dropdown {
	display: none;
	background-color: whitesmoke;
	position: absolute;
	top: 43px;
	padding: 0;
}

.dropdown li {
	display: block;
}

.dropdown li:hover {
	background-color: gainsboro;
}

.dropdown li a {
	color: steelblue;
	font-size: 16px;
}
#img_section {
	margin: 3px;
	height: 400px;
	min-height: 300px;

	text-align: center;
	background-color: rgb(163, 228, 228);
	border: 2px solid steelblue;
	animation-name: image-change;
	animation-duration: 40s;
	animation-iteration-count: infinite;
}

@keyframes image-change {
	0% {
		background-image: url(Animation/ani1.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-size: cover;
	}
	25% {
		background-image: url(Animation/ani2.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-size: cover;
	}
	50% {
		background-image: url(Animation/ani3.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-size: cover;
	}
	75% {
		background-image: url(Animation/ani4.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-size: cover;
	}
	100% {
		background-image: url(Animation/ani5.jpg);
		background-repeat: no-repeat;
		background-size: contain;
		background-size: cover;
	}
}

.product_section {
	margin: 50px;
}

.product_group {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.product {
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 5px;
	background-color: whitesmoke;
	border-radius: 5px;
	padding: 10px 15px;
	font-weight: bold;
	transition: transform 0.3s ease-in-out;
	margin: 10px;
}

.product:hover {
	transform: scale(1.05);
}

.mrp {
	color: cadetblue;
	font-weight: 400;
}

.product_img {
	height: 200px;
	width: 200px;
	overflow: hidden;
	border: 1px solid white;
}

.product_img > img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.btn {
	width: 100%;
	padding: 5px;
	color: rgb(241, 119, 32);
	font-weight: bold;
	border: 2px solid rgb(66, 170, 230);
	border-radius: 10px;
	text-align: center;
}

.btn:hover {
	cursor: pointer;
}

.btn:active {
	background-color: rgb(250, 234, 230);
	border: 2px solid rgb(0, 255, 76);
}
